@font-face {
	font-family: 'Aleo';
	src: url('fonts/Aleo-Regular.otf') format('opentype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Aleo Bold';
	src: url('fonts/Aleo-Bold.otf') format('opentype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Merriweather Sans';
	src: url('fonts/MerriweatherSans-Light.otf') format('opentype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Vincent';
	src: url('fonts/Vincent-Regular.otf') format('opentype');
	font-weight: normal;
	font-style: normal;
}

.homepage {
	background-color: #2C2626;
	display: table-cell;
	width: 100%;
	height: 100%;
	position: absolute;
	vertical-align: middle;
	color: #E3E3E3;
	font-family: Vincent;
}

.page {
	background-color: #E3E3E3;
	display: table-cell;
	width: 100%;
	height: 100%;
	position: absolute;
	vertical-align: middle;
}

.page-dark {
	background-color: #423736;
	display: table-cell;
	width: 100%;
	height: 100%;
	position: absolute;
	vertical-align: middle;
}

.page-inner {
	margin: 30px;
}

.header {
	font-family: Vincent;
	background-color: #D04340;
	text-align: center;
	color: #FFFFFF;
	letter-spacing: -1px;
	padding: 0.5px;
}

.sub-header {
	font-family: Vincent;
	font-size:18px;
	color: #333333;
	letter-spacing: -0.5px;
	padding: 0.5px;
	margin-bottom: 3px;
}

.sub-header-white {
	font-family: Vincent;
	font-size:18px;
	color: #FFFFFF;
	letter-spacing: -0.1px;
	padding: 0.5px;
	margin-bottom: 3px;
}

.stat {
	font-family: Vincent;
	color: #FFFFFF;
	font-size: 12px;
	letter-spacing: 0px;
	padding: 0.5px;
	margin-bottom: 3px;
}

.footer {
	font-family: Vincent;
	background-color: #2C2626;
	text-align: center;
	color: #FFFFFF;
	letter-spacing: -1px;
	padding: 0.5px;
	height: 3em;
}

.push {
	height: 3em;
}

.wrapper {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -3em;
}

.form-label {
	font-family: Merriweather Sans;
	font-size: 12px;
	letter-spacing: -0.5px;
	color: #276E6E;
}

.input {
	font-family: Merriweather Sans;
	font-size: 14px;
	letter-spacing: -0.5px;
}

.btn-main {
	font-family: Merriweather Sans;
	font-size: 12px;
	letter-spacing: -0.5px;
}

.container-middle {
	width: 100%;
	height: 80%;
	position: absolute;
	margin-top: 10px;
	margin-bottom: 10px;
}

.container-overflow {
	overflow: scroll;
	width: 100%;
	height: 80%;
	position: absolute;
	margin-top: 10px;
	margin-bottom: 10px;
}

.container-overflow-flowover {
	overflow: scroll;
	position: absolute;
	width: 130%;
	height: 80%;
	margin-top: 10px;
	margin-bottom: 10px;
}

.competition {
	margin: 10px;
	height: auto;
	padding: 2px;
	background-color: #5bc0de;
	color: #FFFFFF;
	font-family: Merriweather Sans;
	font-size: 12px;
	letter-spacing: -0.5px;
	border-radius: 4px;
}

.btn-footer {
	width: 24%;
	text-align: center;
	margin-top: 7px;
}

.stamp {
	font-family: Vincent;
	font-size:18px;
	color: #FFFFFF;
	letter-spacing: -0.1px;
	padding: 0.5px;
	margin-bottom: 3px;
	margin-top: 0px;
	text-align: center;
}

.icon-current {
	opacity: 0.4;
}

table {
	border: 1px solid #222222;
	border-radius: 4px;
	width: 100%;
}

th, td, tr {
	font-family: Merriweather Sans;
	font-size: 12px;
	letter-spacing: -0.5px;
	color: #FFFFFF;
	padding: 5px;
	text-align: center;
}

select {
	padding: -5px;
	margin-left: 2px;
	margin-top: 8px;
	background-color: transparent;
	border: 1px solid #222222;
	font-family: Merriweather Sans;
	font-size: 12px;
	letter-spacing: -0.5px;
	color: #222222;
}

select[disabled] {
	padding: -5px;
	margin-left: 2px;
	margin-top: 8px;
	background-color: transparent;
	border: 1px solid #AAAAAA;
	font-family: Merriweather Sans;
	font-size: 12px;
	letter-spacing: -0.5px;
	color: #888888;
}

li {
	list-style-type: none;
}
